.main{
    display:flex;
    flex-direction: column;
    gap:1em;
    background-color: aliceblue;
}
.main-movie-section{
display:grid;
grid-template-columns: auto;
grid-row: auto;
gap:2em;
}
@media screen and (max-width:900px){
    .main-movie-section{
        grid-template-columns: repeat(1,1fr);
    }
}